
.menu-container{
    display: block; 
    max-height: 100vh;
    overflow: hidden;

    .wrapper {
        max-height: 100vh;
        height: 100vh;
        display: flex;
    }
    .item {
        width: 150px;
        // float: left;
        background-color: #4D602A;
        height: 100%;
        cursor: pointer;
        border-right: 1px solid #FFF;
        color:#C8B568;
        font-size: 24px;
        font-family: "Poppins";
        font-weight: 600px;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .meal_heading{
        transform: rotate(269deg)
    }
    .info {
        // float: left;
        height: 100%;
        width: 0;
        display: none;
        background-color: #222B13;
        width: calc(100vw - 431px);
        // width:60%;
        border:2px solid black;
        // border:12px solid black;

        color: #f8f8f8;
        font-family: "Poppins";
        font-size: 26px;
        overflow: hidden;
        img{
            height: 100%;
            width: 30%;
        }
        .table{
            width: 70%;
            display: inline-block;
        }
    }
    .show {
        display: inline-block;
    }
    .hide{
    display: none;
    }
}

